@page "/maint-req/add"
@inject SACOMaintenance.ViewModel.Interfaces.IMaintReqNewViewModel AddReqViewModel
@using SACOMaintenance.Common.ModelDB

@*@using SACOMaintenance.DataAccess.Interfaces
@inject IArea AreaDataProvider
@inject IFactory FactoryDataProvider
@inject ICompany CompanyDataProvider
@inject IPPE PpeDataProvider    
@inject IEquipment EquipmentDataProvider*@ 

<div class="row">
    <h3>Add New Request</h3>
    <div class="container-fluid">
        <div>
            <EditForm Model="AddReqViewModel.MaintReq">
                <div class="form-group">
                    <div class="form-group-row">
                        <label style="font-weight:bold">Details</label>
                        <InputTextArea @bind-Value="AddReqViewModel.MaintReq.RequestDetails" class="form-control" placeholder="Enter the details of the request"></InputTextArea>
                    </div>
                </div>
                @*<div class="form-group-row">
                    <label style="font-weight:bold">Company</label>
                    <InputSelect id="company" class="form-control" @bind-Value="@MaintReqInit.CompanyId" placeholder="Select a company">
                        @foreach (var company in CompanyList)
                        {
                            <option value="@company.Id">@company.CompantName</option>
                        }
                    </InputSelect>
                </div>*@
                <div class="form-group-row">
                    <div class="row">
                        <div class="col-lg-4">
                            <label style="font-weight:bold">Factory</label>
                            <InputSelect id="factory" class="form-control" @bind-Value="@AddReqViewModel.FactoryId">
                                @foreach (var factory in AddReqViewModel.Factories)
                                {
                                    <option value="@factory.Id">@factory.FactoryName</option>
                                }
                            </InputSelect>
                        </div>



                        @if (AddReqViewModel.Areas != null)
                        {
                            <div class="col-lg-4">
                                <label style="font-weight:bold">Area</label>
                                <InputSelect id="area" class="form-control" @bind-Value="AddReqViewModel.AreaId">
                                    @foreach (var area in AddReqViewModel.Areas)
                                        {
                                        <option value="@area.Id">@area.AreaName</option>
                                        }
                                </InputSelect>
                            </div>



                        }
                    </div>
                </div>

                @if (AddReqViewModel.Equipment != null)
                {
                    <div class="form-group-row">

                        <div class="col-lg-4">
                            <RadzenDropDown AllowClear="true" TValue="int" Style="width:100%;"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                            @bind-Value="@AddReqViewModel.EquipmentId" FilterOperator="StringFilterOperator.Contains" 
                                            AllowFiltering="true"
                                            Data=@AddReqViewModel.Equipment TextProperty="Name" ValueProperty="Id">
                            </RadzenDropDown>
                        </div>

                        <div class="col-lg-4">
                            If the equipment is not there contact maintenance!
                        </div>

                    </div>
                }
            </EditForm>
        </div>

        <div class="area-button-group">
            <a type="submit" class="btn btn-outline-primary" @onclick="@AddReqViewModel.AddNewRequest">Save</a>
        </div>

    </div>
 </div>



 