@page "/maint-req/add"
@inject SACOMaintenance.ViewModel.Interfaces.IMaintReqNewViewModel AddReqViewModel
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@using SACOMaintenance.Common.ModelDB
@using Microsoft.AspNetCore.SignalR.Client
@using SACOMaintenance.Blazor.Server.Data
@inject SmsService SmsService
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager<Common.ModelDB.User> _UserManager

<RadzenNotification></RadzenNotification>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>Add New Maintenance Request</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Enter Request Details">
                <div class="row">
                    <div class="col-lg-4">
                        <RadzenLabel Text="Priority"></RadzenLabel>
                        <RadzenDropDown AllowClear="true" TValue="int" Style="width: 100%; border-color: black"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        @bind-Value="@AddReqViewModel.PriorityId" FilterOperator="StringFilterOperator.Contains"
                                        AllowFiltering="true"
                                        Data="@AddReqViewModel.Priorities" TextProperty="Name" ValueProperty="Id">
                            <Template>
                                <div class="row">
                                    <div class="col-lg-1">
                                        <i class="@((context as Priority).Icon)"></i>
                                    </div>
                                    <div class="col-lg-5">
                                        @((context as Priority).Name)
                                    </div>
                                </div>
                            </Template>
                        </RadzenDropDown>
                    </div>
                    <div class="col-lg-4">
                        <RadzenLabel Text="Company"></RadzenLabel>
                        <RadzenDropDown AllowClear="true" TValue="int" Style="width: 100%; border-color: black"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        @bind-Value="@AddReqViewModel.CompanyId" FilterOperator="StringFilterOperator.Contains"
                                        AllowFiltering="true"
                                        Data="@AddReqViewModel.Companies" TextProperty="CompanyName" ValueProperty="Id">
                        </RadzenDropDown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <RadzenLabel Text="Factory"></RadzenLabel>
                        <RadzenDropDown AllowClear="true" TValue="int" Style="width: 100%; border-color: black"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        @bind-Value="@AddReqViewModel.FactoryId" FilterOperator="StringFilterOperator.Contains"
                                        AllowFiltering="true"
                                        Data="@AddReqViewModel.Factories" TextProperty="FactoryName" ValueProperty="Id">
                        </RadzenDropDown>
                    </div>
                    <div class="col-lg-4">
                        @if (AddReqViewModel.Areas != null)
                        {
                            var numberAreasEquipment = AddReqViewModel.Areas.Count();
                            if (numberAreasEquipment > 0)
                            {
                                <RadzenLabel Text="Area"></RadzenLabel>
                                <RadzenDropDown AllowClear="true" TValue="int" Style="width: 100%; border-color: black"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                @bind-Value="@AddReqViewModel.AreaId" FilterOperator="StringFilterOperator.Contains"
                                                AllowFiltering="true"
                                                Data="@AddReqViewModel.Areas" TextProperty="AreaName" ValueProperty="Id">
                                </RadzenDropDown>
                                <RadzenLabel Text="If the area is want is not in the list please contact maintenance!"></RadzenLabel>
                            }
                        }
                    </div>
                    <div class="col-lg-4">
                        @if (AddReqViewModel.Equipment != null)
                        {
                            var numberEuipmentItems = AddReqViewModel.Equipment.Count();
                            if (numberEuipmentItems > 0)
                            {
                                <RadzenLabel Text="Equipment"></RadzenLabel>
                                <RadzenDropDown AllowClear="true" TValue="int" Style="width: 100%; border-color: black"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                @bind-Value="@AddReqViewModel.EquipmentId" FilterOperator="StringFilterOperator.Contains"
                                                AllowFiltering="true"
                                                Data="@AddReqViewModel.Equipment" TextProperty="Name" ValueProperty="Id">
                                </RadzenDropDown>
                                <RadzenLabel Text="If the area is want is not in the list please contact maintenance!"></RadzenLabel>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenHtmlEditor @bind-Value="AddReqViewModel.MaintReq.RequestDetails" Style="height: 500px; border-color: black"></RadzenHtmlEditor>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenButton Click="@UpdateBook" Text="Save New Request" Icon="save" Style="margin-bottom: 20px; width: 200px" />
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
</div>

@code {


    Common.ModelDB.User objUser = new Common.ModelDB.User();
    string userId { get; set; }


    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
            .Build();

        await hubConnection.StartAsync();

        //Get the current logged in users ID
        var principal = HttpContextAccessor.HttpContext.User;
        userId = principal.FindFirstValue(ClaimTypes.NameIdentifier);

        ////Get the full details of the current logged in user from the ID
        objUser = await _UserManager.FindByIdAsync(userId);

        //Ge tusder full name and avatar
        userId = objUser.Id;

        AddReqViewModel.MaintReq.UserId = userId;
    }

    protected async Task UpdateBook()
    {
        //hubConnection = new HubConnectionBuilder()
        //    .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
        //    .Build();

        //await hubConnection.StartAsync();

        AddReqViewModel.AddNewRequest();

        //Check if the prisority is emergency then send text to let someone know
        if (AddReqViewModel.PriorityId == 1)
        {
            Equipment equipName = AddReqViewModel.Equipment.Where(i => i.Id == AddReqViewModel.MaintReq.EquipmentId).FirstOrDefault();

            if (AddReqViewModel.SendTextMessageForEmergencyPriority == true)
            {
                string message = "MAINT-" + AddReqViewModel.NewAddedMaintId.ToString("D4") +
                " has just been added and is either buisness crirtical or danger to life or health.  Please review ASAP!!!\n\n\nEquipment: "
                + equipName.Name + "\n\nDetails:\n" + AddReqViewModel.MaintReq.RequestDetails;

                var respone = SmsService.SendSms("447432 556452", "SACO Maint", message);
                string MessageId = respone.Messages[0].MessageId;
            }
            //var responOne = SmsService.SendSms("447432556452", "SACO Maint", message);
            //string MessageIdTwo = respone.Messages[0].MessageId;
        }

        if (IsConnected) await SendMessage();

        ShowNotification(new NotificationMessage
        {
            Severity = NotificationSeverity.Success,
            Summary = "Saved",
            Detail = "New maintenance request saved to database!",
            Duration = 4000
        });
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}