@using SACOMaintenance.Common.ModelDB
@using SACOMaintenance.DataAccess.Interfaces
@using SACOMaintenance.ViewModel.Interfaces
@inject IGeneralRequest GeneralRequestDataProvider
@inject IGeneralMaintRequestViewModel GeneralViewModel
@using SACOMaintenance.Blazor.Server.Components

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Control Measures Taken" Style="width: 100%; border-color: black">
                <RadzenTextArea Style="width: 100%; border-color: black"></RadzenTextArea>
            </RadzenFieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="PPE Required" Style="width: 100%; border-color: black">
                <div class="row">
                    @foreach (var ppeItem in GeneralViewModel.ppeList)
                    {
                        foreach (var item in maintReq.PPEEquipment)
                        {
                            if (item.Id == ppeItem.Id)
                            {
                                colour = "red";
                                break;
                            }
                        }
                        <div class="col-lg-2">
                            <PPEEquipmentComponent ppe="@ppeItem"
                                                   colour="@colour"
                                                   maintReq="@maintReq">
                            </PPEEquipmentComponent>
                        </div>
                        colour = "black";
                    }
                </div>
            </RadzenFieldset>
        </div>
    </div>

    <RadzenButton Click="seeppe"></RadzenButton>

    @foreach (var item in maintReq.PPEEquipment)
    {
        <span>@item.Id;</span>
        <span>@item.PPEName;</span>
    }

    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Authority to Start Work" Style="width: 100%; border-color: black">
                <RadzenLabel Text="Choose Person to Authorise"></RadzenLabel>
                <RadzenButton Text="Request"></RadzenButton>
            </RadzenFieldset>
        </div>
    </div>
</div>

@if (GeneralViewModel.genralRequestInfo.AuthorityToWorkUserId > 0  && GeneralViewModel.genralRequestInfo != null)
{
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Completion of the Works">
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenLabel Text="Details of the work completed"></RadzenLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-gl-12">
                        <RadzenTextArea @bind-Value="GeneralViewModel.genralRequestInfo.DetailOfWorkCompleted"></RadzenTextArea>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
}
else
{
    <div class="row">
        <h1>You need approval to work</h1>
    </div>
}

@*<div class="card text-white" style="width: 18rem; height: 130px">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <img src="@ppeItem.IconFileLocation" width="30" height="30" />
                </div>
                <div class="col-lg-6">
                   <p>@ppeItem.Description</p>
                </div>
            </div>
        </div>
    </div>*@




@*<RadzenGrid Data="GeneralViewModel.ppeList">
        <Columns>
            <RadzenGridColumn TItem="PPE" Property="ID" Title="Id" Width="15px"></RadzenGridColumn>
            <RadzenGridColumn TItem="PPE" Property="PPEName" Title="Name" Width="50px"></RadzenGridColumn>
            <RadzenGridColumn TItem="PPE" Property="IconLocation">
                <Template Context="data">
                    <RadzenImage Path="@data.IconFileLocation" Style="width:30px"></RadzenImage>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>*@




@code {
    [Parameter]
    public MaintRequestInitiation maintReq { get; set; }

    public void seeppe()
    {
        foreach (var item in maintReq.PPEEquipment)
        {
            Console.WriteLine(item.Id + "       " + item.PPEName);
        }
    }


    public string colour = "black";

    protected override void OnInitialized()
    {
        GeneralViewModel.maintId = maintReq.Id;
        GeneralViewModel.GetGeneralRequest(maintReq.Id);
    }
}
