@inject SACOMaintenance.ViewModel.Interfaces.IPlantMaintReqViewModel plantMaintViewModel


<h3><em>Isolations</em></h3>
<div class="row">
    <div class="col-lg-6">
        <table cellpadding="5">
            <tr>
                <td><label>Phosphoric Acide</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.IsolationNitricAcid"></InputCheckbox></td>
                <td><label>Phosporic Acid</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.IsolatedPhosphoricAcid"></InputCheckbox></td>
            </tr>
            <tr>
                <td><label>Sodium Hydrozide</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.IsolatedSodiumHyrodzide"></InputCheckbox></td>
                <td><label>Sulpric Acid</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.IsolatedSulphuricAcid"></InputCheckbox></td>
            </tr>
            <tr>
                <td><label>Other</label></td>
                <td colspan="3"><InputTextArea @bind-Value="plantMaintViewModel.IsolationsOther" class="form-control"></InputTextArea></td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <h3>Drained Lines</h3>

        <table cellpadding="5">
            <tr>
                <td><label>Nitric Acid</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.DrainingLinedNitricAcid"></InputCheckbox></td>
                <td><label>Phosphoric Acid</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.DrainingLinedPhosphoricAcicd"></InputCheckbox></td>
            </tr>
            <tr>
                <td><label>Sodium Hydroxide</label></td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.DrainingLinedSodiumHydroxide"></InputCheckbox></td>
                <td>Sulphuric Acid</td>
                <td><InputCheckbox @bind-Value="plantMaintViewModel.DrainingLinesSulphuricAcid"></InputCheckbox></td>
            </tr>
            <tr>
                <td><label>Other</label></td>
                <td colspan="3"><InputTextArea @bind-Value="plantMaintViewModel.DrainingLinesOther" class="form-control"></InputTextArea></td>
            </tr>
        </table>
    </div>
</div>

<h3>Isolations Other</h3>
<div class="row">
    <div class="col-lg-4">
        <label>Compressed Air</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsCompressedAir"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Electrical</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsElectrical"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Gas</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsGas"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Mechanical</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsMechanical"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Steam</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsSteam"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Water</label>
        <InputCheckbox @bind-Value="plantMaintViewModel.IsolationsWater"></InputCheckbox>
    </div>
    <div class="col-lg-4">
        <label>Other</label>
        <InputTextArea @bind-Value="plantMaintViewModel.OtherPrecations" class="form-control"></InputTextArea>
    </div>                                                                                                 
</div>








@*<div class="container-fluid col-lg-12">
    <EditForm Model="@plantMaintViewModel.plantRequest">
        <div class="form-group-row">
            <label style="font-weight:bold">Isolations</label>
        </div>
        <div class="form-group-row">
            <div class="col-lg-4">
                <label>Nitric Acid</label>
            </div>
            <div class="col-lg-4">
                <InputCheckbox @bind-Value="plantMaintViewModel.IsolationNitricAcid">Nitric Acid</InputCheckbox>
            </div>
            <div class="form-group-row">
                <div class="col-lg-4">
                    <label>Phosporic Acid</label>
                </div>
                <div class="col-lg-4">
                    <InputCheckbox @bind-Value="plantMaintViewModel.IsolatedPhosphoricAcid">Phosphoric Acid</InputCheckbox>
                </div>
            </div>
        </div>*@
@*<div class="form-group-row">
        <div class="form-group-row">
            <div class="col-lg-4">
                <label>Sodium Hydrozide</label>
            </div>
            <div class="col-lg-4">
                <InputCheckbox @bind-Value="plantMaintViewModel.IsolatedSodiumHyrodzide">Sodium Hydroxide</InputCheckbox>
            </div>
        </div>
        <div class="form-group-row">
            <div class="col-lg-4">
                <label>Sulpric Acid</label>
            </div>
            <div class="col-lg-4">
                <InputCheckbox @bind-Value="plantMaintViewModel.IsolatedSulphuricAcid">Sulphric Acid</InputCheckbox>
            </div>
        </div>
    </div>
    <div class="form-group-row">
        <div class="col-lg-4">
            <div class="col-lg-4">
                <label>Other</label>
            </div>
            <div class="col-lg-4">
                <InputTextArea @bind-Value="plantMaintViewModel.IsolationsOther" class="form-control"></InputTextArea>
            </div>
        </div>
    </div>*@

<div class="form-group-row">
    <label style="font-weight:bold">PPE</label>
</div>
@*<div class="row">
        @foreach (var ppeItem in ppeList)
        {
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-1 col-xl-1 text-center">
                <div class="custom-control custom-checkbox image-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@ppeItem.Id">
                    <label class="custom-control-label" for="@ppeItem.Id">
                        <img src="@ppeItem.IconFileLocation" class="img-fluid" width="50" height="50" />
                    </label>
                    <p>@ppeItem.PPEName</p>
                </div>
            </div>
        }
    </div>*@
@*</EditForm>
    </div>*@


@code {
    [Parameter]
    public int maintReqID { get; set; }

    [Parameter]
    public string PpeTypeName { get; set; }

    //public IEnumerable<PPE> ppeList { get; set; }

    //private PlantRequest plantReq { get; set; }

    protected override void OnInitialized()
    {
        plantMaintViewModel.LoadAll(maintReqID);
        //PppMaintTypeEnum maintTypeEnum = new PppMaintTypeEnum();

        ////plantReq = PlantReqDataProvider.GetSinalPlantRequestInfo(maintReqID);
        //ppeList = PpeReqDataProvider.LoadAllPlantPPE(PpeTypeName);

    }

}
