@page "/maint-req/auth/{MaintReqID}"
@inject SACOMaintenance.ViewModel.Interfaces.IMaintRequestFullViewModel MaintRequestViewModel

<h3>Maintenance Request</h3>

@*

    UI layout

    General details - section


    Risks - section

    Isolations - section

    Control measures taken - section

    PPE - section

    Approval or Rejection Section - enter details - only part not read only

*@

<RadzenFieldset Text="General Details">
    <div class="row">
        <div class="col-lg-4"><RadzenLabel Text="Factory"></RadzenLabel></div>
        <div class="col-lg-4"><RadzenLabel Text="Area"></RadzenLabel></div>
        <div class="col-lg-4"><RadzenLabel Text="Equipment"></RadzenLabel></div>
    </div>
    <div class="row">
        <div class="col-lg-4">@MaintRequestViewModel.maintReqInitation.Factory.FactoryName</div>
        <div class="col-lg-4">@MaintRequestViewModel.maintReqInitation.Area.AreaName</div>
        <div class="col-lg-4">@MaintRequestViewModel.maintReqInitation.Equipment.Name</div>
    </div>
    <div class="row"><RadzenLabel Text="Details"></RadzenLabel></div>
    <div class="row">
        <div class="col-lg-12">
            @MaintRequestViewModel.maintReqInitation.RequestDetails
        </div>
    </div>
</RadzenFieldset>

<RadzenFieldset Text="Risks">
    <ul>
        @foreach(var item in MaintRequestViewModel.RiskInfoList)
        {
            foreach(var riskItem in MaintRequestViewModel.Risks)
            {
                if(riskItem.Id == item.RiskId)
                {
                    <li>@riskItem.RiskName + "   Risk Level: " + @item.Level</li>
                }
            }
        }
    </ul>
</RadzenFieldset>

<RadzenFieldset Text="Isolations">
    <ul>
        @foreach(var item in MaintRequestViewModel.IsolationByRequest)
        {
            <li>@item.Name</li>
        }
    </ul>
</RadzenFieldset>

<RadzenFieldset Text="PPE Items Required">
    <ul>
        @foreach(var item in MaintRequestViewModel.Ppe)
        {
            <li>@item.PPEName</li>
        }
    </ul>
</RadzenFieldset>

<RadzenFieldset Text="Approval">
    <SACOMaintenance.Blazor.Server.Components.ApprovalComponent></SACOMaintenance.Blazor.Server.Components.ApprovalComponent>
</RadzenFieldset>


@code {

    [Parameter]
    public string MaintReqID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MaintRequestViewModel.GetMaintReqInitation(Convert.ToInt32(MaintReqID));

        Task.Run(async () => { await MaintRequestViewModel.LoadRisks(); }).Wait();
        Task.Run(async () => { await MaintRequestViewModel.LoadMaintRiskData(Convert.ToInt32(MaintReqID)); }).Wait();
        Task.Run(async () => { await MaintRequestViewModel.LoadIsolations(); }).Wait();
        Task.Run(async () => { await MaintRequestViewModel.LoadIsoaltionsByMaint(); }).Wait();
        Task.Run(async () => { await MaintRequestViewModel.LoadPPE(); }).Wait();

        MaintRequestViewModel.IsolationsSelected =
        MaintRequestViewModel.Isolations
        .Where(maint => maint.MaintRequestInitiations.Count == 1).ToList();
    }
}
