@using SACOMaintenance.Common.ModelDB
@using System.Collections.ObjectModel;
@using System;

<div class="container-full">
    <RadzenFieldset Text="Risks">
        <div class="inner-radio-container">
        @foreach (var item in ItemsChosen)
        {

            <div class="container-outer">
                <div class="row">
                    @foreach (var riskItem in Risks)
                    {
                        if (riskItem.Id == item.RiskId)
                        {
                            <label>@riskItem.RiskName</label>
                        }
                    }
                </div>
                <div class="row">
                    <div class="input-container">
                        <input name="@item.RiskId" type="radio" id="H" class="radio-button-H"
                               value="H" checked="@(item.Level.Equals("H"))"
                               @onchange="_ => HandleChangeHigh(item)" />
                        <div class="radio-tile-H">
                            <label>H</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <input name="@item.RiskId" type="radio" id="M" class="radio-button-M"
                               value="H" checked="@(item.Level.Equals("M"))"
                               @onchange="_ => HandleChangeMedium(item)" />
                        <div class="radio-tile-M">
                            <label>M</label>
                        </div>
                    </div>
                    <div class="input-container">
                        <input name="@item.RiskId" type="radio" id="L" class="radio-button-L"
                               value="H" checked="@(item.Level.Equals("L"))"
                               @onchange="_ => HandleChangeLow(item)" />
                        <div class="radio-tile-L">
                            <label>L</label>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </RadzenFieldset>

    
        </div>

        @code{
            [Parameter]
            public ObservableCollection<Risk> Risks { get; set; }

            [Parameter]
            public List<MaintRequestInitiationRisk> ItemsChosen { get; set; } = new();

            [Parameter]
            public EventCallback<List<MaintRequestInitiationRisk>> ItemsChosenChanged { get; set; }

            void HandleChangeHigh(MaintRequestInitiationRisk item)
            {

                item.Level = "H";
                ItemsChosenChanged.InvokeAsync(ItemsChosen);
            }

            void HandleChangeMedium(MaintRequestInitiationRisk item)
            {

                item.Level = "M";
                ItemsChosenChanged.InvokeAsync(ItemsChosen);
            }

            void HandleChangeLow(MaintRequestInitiationRisk item)
            {

                item.Level = "L";
                ItemsChosenChanged.InvokeAsync(ItemsChosen);
            }
        }
